#blue1{
	height: 100px;
	width: 100px;
	background-color: royalblue;
   position: absolute;
   top: 0px;
   left: 0px;
   


}


}

#white1{
	height: 100px;
	width: 100px;
	background-color: white;
	position: absolute;
    top: 0px;
    left: 0px;
    
}

#blue2{
	height: 100px;
	width: 100px;
	background-color: royalblue;
    position: absolute;
    top: 0px;
    left: 0px;
  




}

#white2{
	height: 100px;
	width: 100px;
	background-color: white;


}


#blue3{
	height: 100px;
	width: 100px;
	background-color: royalblue;




}

#white3{
	height: 100px;
	width: 100px;
	background-color: white;

}


#blue4{
	height: 100px;
	width: 100px;
	background-color: royalblue;



}

#white4{
	height: 100px;
	width: 100px;
	background-color: white;

}




