
body{
background-image: url("../images/pic_9.jpg");
background-repeat: repeat-y;
background-position: center;

margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 170px;
    margin-left: 170px;
    font-size: 16px;
    font-weight: lighter;
    font-family: Sukhumvit Set;
	

}


h1{
	color: black;
	text-align: center;
	font-size: 28px;
	font-family: Sukhumvit Set;
	font-weight: bold;
}


#picture{
	
	position: center;
	text-align: center;

}